/* CSS HEX
--almost-white: #fefefe

--dark-coffee: #251605;
--cinnamon-wood: #c57b57;
--deep-teal: #4e6e58;
--soft-peach: #f7dba7;
--systementor-green: #5FCF80

https://coolors.co/251605-c57b57-4e6e58-f7dba7-5fcf80 */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body,
a {
    font-family: "Poppins", sans-serif;
    color: #fefefe;
}

p {
    margin-bottom: 10px;
}

.hero {
    width: 100%;
    /* vh = viewport height, relativt till webbläsarfönstret */
    height: 100vh;
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-navbar {
    background-color: #251605;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /* 20px upptill och nedtill, och på sidorna 8% av parent */
    padding: 20px 8%;
    animation: fade-in linear forwards;
    animation-timeline: scroll(root);
    animation-range-end: 300px;
    z-index: 1;
}

@keyframes fade-in {
    from {
        background-color: #25160500;
    }

    to {
        background-color: #251605a9;
    }
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
}

.content {
    text-align: center;
}

h1 {
    font-family: "Coiny", sans-serif;
    font-size: 6vw;
}

h2 {
    font-family: "Coiny", sans-serif;
    font-size: 3.5em;
    font-weight: 100;
}

h3 {
    font-family: "Coiny", sans-serif;
    font-size: xx-large;
    font-weight: 100;
}

.bg-video {
    position: absolute;
    right: 0;
    bottom: 0;
    /* Lägg videon i bakgrunden med z-index -1 */
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    .bg-video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .bg-video {
        width: auto;
        height: 100%;
    }
}

.main-navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background-color: #f7dba7;
    padding: 30px 25vw;
}

.main-navbar ul li a {
    background-color: #4e6e58b6;
    padding: 14px;
    margin: 0px 10px;
    border-radius: 30px;
    font-size: small;
    font-weight: 600;
}

.main-navbar ul li a:hover {
    background-color: #4e6e58;
}

section {
    padding: 20px;
}

footer {
    padding: 20px;
}

.zoomap {
    background-color: #c57b57;
    display: flex;
    justify-content: center;
}

.map-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    padding: 50px 0px;
}

.zoomap img {
    width: 1000px;
    align-content: center;
}

.map-title {
    width: 420px;
    position: absolute;
    align-self: flex-end;
}

.map-index {
    width: 920px;
    background-color: #f7dba7;
    border-radius: 30px;
    margin: 30px 0px 50px;
    padding: 30px 150px 30px 250px;
}

.zoomap ol {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 150px;
    counter-reset: li;
    font-size: 15px;
    padding: 0;
}

.zoomap li {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    color: #251605;
    text-decoration: none;
    border-radius: .3em;
}

.rounded-list li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1em;
    top: 50%;
    margin-top: -1em;
    background: #FF5C5E;
    color: #fefefe;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
}

.todo {
    background-color: #5FCF80;
}

.animals {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #251605;
    padding: 50px 25% 80px;
}

.carousel {
    display: flex;
    overflow-x: auto;
    width: 1000px;
    scroll-snap-type: x mandatory;
    scroll-padding-inline: 15px;
}

.carousel::-webkit-scrollbar {
    width: 20px;
}

.carousel::-webkit-scrollbar-track {
    background-color: #f7dba76e;
    border-radius: 10px;
}

.carousel::-webkit-scrollbar-thumb {
    background: #f7dba7;
    border-radius: 10px;
}

.animals article {
    flex: 0 0 5em;
    width: 300px;
    margin: 15px;
    scroll-snap-align: start;
}

.img-container {
    width: 300px;
    height: 300px;
    margin-bottom: 1rem;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.contact {
    display: flex;
    justify-content: center;
    flex: 1;
    height: 400px;
    background-color: #4e6e58;
    text-align: center;
    gap: 20px;
}

.contact img {
    max-height: 380px;
}

.register {
    align-self: center;
}

.subscribe {
    display: flex;
    flex-direction: column;
    color: #251605;
    font-family: "Poppins", sans-serif;
}

.default-option {
    color: #2516056e;
}

input,
select {
    border: 0px;
    border-radius: 20px;
    background-color: #fefefe;
    padding: 10px;
    margin: 5px;
}

.block-input input {
    width: 400px;
}

.inline-input input {
    width: 100px;
}

select {
    width: 182px;
    margin: 0px;
}

.block-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type=submit] {
    background-color: #2516056e;
    color: #fefefe;
    width: 182px;
    align-self: center;
    margin: 20px;
    font-weight: bold;
}

input[type=submit]:hover {
    background-color: #251605;
}

footer {
    background-color: #f7dba7;
    height: 500px;
}